<h1>Dashboard</h1>
<br>
<br>
<h3> Money Matters </h3>
<p>Prepare Spending Trends by Date</p>
<%= form_tag("/dashboard/show_report", method: "get") do %>
  <%= label_tag "Balance on Start Date:"%>
  <%= number_field_tag "report[balance]", nil,{:required => true, :step=>"0.01"} %>
  <%= label_tag "From:"%>
  <%= date_field(:report, :from, :value=>Date.today.strftime("%Y-%m-%d")) %>
  <%= label_tag "To:" %>
  <%= date_field(:report, :to, :value=>Date.today.strftime("%Y-%m-%d")) %>
  <%= label_tag "Export Transcations" %>
  <%= check_box(:report, :export) %>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
<br>
<br>
<p>Simulate budget</p>
<%= form_tag("/recurs/show_report", method: "get") do %>
  <%= label_tag "Balance/Credit Limit:"%>
  <%# text_field_tag "report[balance]" %>
  <%= number_field_tag "report[balance]", nil,{:required => true, :step=>"0.01"} %>
  <%= label_tag "In:" %>
  <%= select_tag "report[source]", options_for_select(current_user.recurs.pluck(:source).uniq.sort) %>
  <%= label_tag ", From:" %>
  <%= date_field(:report, :from, :value=>Date.today.strftime("%Y-%m-%d")) %>
  <%= label_tag ", Up to:" %>
  <%= date_field(:report, :to, :value=>Date.today.strftime("%Y-%m-%d")) %>
  <%= submit_tag("Simulate", class: "btn btn-primary") %>
<% end %>
<br>
<br>
<h3> House Matters </h3>
<p>Prepare Chore Trends by Date</p>
<%= form_tag("/daily_logs/show_report", method: "get") do %>
  <%= label_tag "From:"%>
  <%= date_field(:report, :from, :value=>Date.today.strftime("%Y-%m-%d")) %>
  <%= label_tag "To:" %>
  <%= date_field(:report, :to, :value=>Date.today.strftime("%Y-%m-%d")) %>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>


