<%# javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://code.highcharts.com/highcharts.js", "chartkick" %>
<h1>Spending Trends</h1>
<p>Showing trends for spending from <%= params[:report][:from] %> to <%= @date %>.</p>
<div class="container-fluid">
    <div class="row-fluid">
            <ul class="nav nav-tabs" id="trends">
                <li class="active"> <a href="#frequency" data-target="#frequency" data-toggle="tab">Spending Frequency</a></li>
                <li><a href="#total" data-target="#total" data-toggle="tab">Total Spent</a></li>
                <li><a href="#monthly_income" data-target="#monthly_income" data-toggle="tab">Monthly Income</a></li>
                <li><a href="#monthly_expenses" data-target="#monthly_expenses" data-toggle="tab">Monthly Expenses</a></li>
                <li><a href="#misc_expenses" data-target="#misc_expenses" data-toggle="tab">Misc Expenses</a></li>
                <li><a href="#average_expenses" data-target="#average_expenses" data-toggle="tab">Average Expenses</a></li>
				<li><a href="#top_expenses" data-target="#top_expenses" data-toggle="tab">Top Expenses</a></li>
				<li><a href="#cash_flow" data-target="#cash_flow" data-toggle="tab">Cash Flow Chart</a></li>
            </ul>
            <div class="tab-content">
				<script>
					$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
						var ev = document.createEvent('Event');
						ev.initEvent('resize', true, true);
						window.dispatchEvent(ev);
					});
				</script>			
                <div class="tab-pane active fade in" id="frequency">
					<h2>Frequency of Spending </h2>
					<%= pie_chart @counts, id: "frequency-chart"%>
				</div>
                <div class="tab-pane fade in" id="total">
					<h2>Total Money Spent <h2>
					<%= pie_chart @totals, title: "Total money spent", id: "total-chart"%>

				</div>
                <div class="tab-pane fade in" id="monthly_income">
					<h2>Monthly Income and Savings</h2>
					<%= column_chart @income_savings, stacked:true %>
				</div>
                <div class="tab-pane fade in" id="monthly_expenses">
					<h2>Monthly expenditure on Main Categories <h2>
					<%= column_chart @main_transactions, stacked:true %>
				</div>
                <div class="tab-pane fade in" id="misc_expenses">
					<h2>Monthly Misc expenses</h2>
					<%= column_chart @others, stacked:true, discrete: true, library: {hAxis: {slantedText: true, slantedTextAngle: 45}} %>
				</div>

                <div class="tab-pane fade in" id="average_expenses">
					<h2>Average Monthly Expenses</h2>
					<% @averages.each_pair do |category, amount| %>
						<%= "#{category}: #{number_to_currency(amount)}" %>
						<br>
					<% end %>
					<h2>Recurring Transactions</h2>
					<% @recurring.each do |trans| %>
						<%=  "#{trans[:merchant]}, $#{trans[:billing_amount]}, #{trans[:period]} " %>
						<br>
					<% end %>
				</div>
                <div class="tab-pane fade in" id="top_expenses">
					<h2>Top Expenses</h2>
					<table class="table">
						<thead>
						<tr>
						  <th text-align="center">Category</th>
						  <th text-align="center">Date</th>
						  <th text-align="center">Merchant</th>
						  <th text-align="center">Amount</th>
						  <th text-align="center">Location</th>
						</tr>
						</thead>

						<tbody>
						<% @maximums.each_pair do |category, trans| %>
						<tr>
							<td><%= category %></td>
							<td><%= trans["Date"] %></td>
							<td><%= trans["Merchant"] %></td>
							<td>$<%= trans["Amount"] %></td>
							<% if trans["Location"] == "0" %>
								<td>No Info</td>
							<% else %>
								<td><%= link_to "Map",  "https://www.google.ca/maps/search/#{trans['Location']}", :target => "_blank" %></td>
							<% end %>
						</tr>
						<% end %>
						</tbody>
					</table>
				</div>	
                <div class="tab-pane fade in" id="cash_flow">
					<h2>Cash Flow Chart</h2>
						<%= line_chart @cash_flow, {date:true, ytitle: "Balance",
								library:{ tooltip: {pointFormat: 'Balance: <b>{point.y}</b>'}, chart: {zoomType: 'xy'},plotOptions: {line:  {dataLabels: {enabled: true}}}
								}} %>
						<% if params[:report][:export]=="1" %>
						<br>
							<table class="table">
							  <thead>
								<tr>
								  <th>Date</th>
								  <th>Category</th>
								  <th>Merchant</th>
								  <th>Amount</th>
								  <th colspan="3"></th>
								</tr>
							  </thead>

							  <tbody>
								<% @table_data.sort.each do |datapoint| %>
									<tr>
									<td><%= datapoint[0].to_date.strftime("%b %-d %Y") %></td>
									<td><%= datapoint[1] %></td>
									<td><%= datapoint[2] %></td>
									<td><%= datapoint[3] %></td>
									</tr>
								<% end %>
							  </tbody>
							</table>
						<%end %>
				</div>				
        </div>
    </div>
</div>

