<div id="alert-area"></div>
<div class="row">
	<div class="col-sm-2"><%= label_tag :name %></div>
	<div class="col-sm-2"><%= label_tag :amount, nil, nil %><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Debit: <br>-ve for Income <br>+ve for Expense. <br>Credit: <br>+ve for Income <br>-ve for Expense. "></span></div>
	<div class="col-sm-1"><%= label_tag :frequency, nil, nil %><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="-ve for one-time<br>Multiples of 30 for monthly"></div>
	<div class="col-sm-2"><%= label_tag :starting_date %></div>
	<div class="col-sm-2"><%= label_tag :Account %></div>
	<div class="col-sm-1"><%= label_tag :Active %></div>
</div>
<% @destroy_btn = false %>
<%= render 'form' %>
<%= javascript_tag do %>
	$('form').on('ajax:success',function(event,data, status, xhr) {
		$("#alert-area").append($("<div class='alert-message success " + " fade in' data-alert><p> <strong> " + xhr.responseJSON.message + " </strong> </p></div>"));
        $(".alert-message").delay(2000).fadeOut("slow", function () { $(this).remove(); });
		$('form')[0].reset();
	});
<% end %>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({html: true, animation:true}); 
});
</script>
