<%= form_for @recur, remote:true, :html => { :'data-type' => 'json'} do |f| %>
  <% if @recur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recur.errors.count, "error") %> prohibited this recur from being saved:</h2>

      <ul>
      <% @recur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
	<div class="col-sm-2">
		<%= f.text_field :name, value:@recur.name, class: "form-control", :required => true %>
    </div>
	<div class="col-sm-2">
		<%= f.number_field :amount, value:@recur.amount, class: "form-control", :required => true, :step=>"0.01" %>
	</div>	
	<div class="col-sm-1">
		<%= f.number_field :days, class: "form-control", :required => true%>
	</div>
	<div class="col-sm-2">
		<% Time.use_zone("Eastern Time (US & Canada)") do %>
		  <% @recur.start_date ||= Date.today %>
		  <%= date_field(:recur, :start_date, :value=>@recur.start_date.strftime("%Y-%m-%d"), class: "form-control", :required => true) %>
		<% end %>
	</div>
	<div class="col-sm-2">
		<%= text_field_tag "recur[source]",@recur.source, {list: "sourcelist", class: "form-control", :required => true} %>	
		<datalist id='sourcelist'>
			<% (current_user.recurs.pluck(:source).uniq.sort).each do |source| %>
				<%= content_tag(:option, source) %>
			<% end %>
		</datalist>
	</div>	
	<div class="col-sm-1">
		<%= f.check_box :active, checked: @recur.active, class: "form-control" %>
	</div>
	<div class="col-sm-1">
		<div class="actions">
			<%= f.submit "Save",class:"form-control btn btn-primary", id: f.options[:html][:id]+'_btn'  %>
		</div>
	</div>
	<div class="col-sm-1">
		<% if @destroy_btn %>
			<%= link_to 'Destroy', @recur, method: :delete, data: { confirm: 'Are you sure?' }, class:"form-control btn btn-warning"   %>
		<% end %>
	</div>
  </div>
  <br>
	<%= javascript_tag do %>
		$('form#<%= f.options[:html][:id]%>').change(function(){
			$('#<%= f.options[:html][:id]%>_btn').addClass('btn-warning');
		});
		$('#<%= f.options[:html][:id]%>_btn').click(function(){
			$('#<%= f.options[:html][:id]%>_btn').removeClass('btn-warning');
		});
	<% end %>
<% end %>
  