<h3>Budget Planner</h3>
<%= link_to 'New Pattern', new_recur_path %>
<br>
<br>
<div id="alert-area"></div>
<div class="row">
	<div class="col-sm-2">
		<%= label_tag :name %>
		<a href= <%= recurs_path+"?order_by=name" %>><span class="glyphicon glyphicon-arrow-up"></span></a>
	</div>
	<div class="col-sm-2">
		<%= label_tag :amount, nil, nil %><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Debit: <br>-ve for Income <br>+ve for Expense. <br>Credit: <br>+ve for Income <br>-ve for Expense. "></span>
		<a href= <%= recurs_path+"?order_by=amount" %>><span class="glyphicon glyphicon-arrow-up"></span></a>
	</div>
	<div class="col-sm-1">
		<%= label_tag :frequency, nil, nil %><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="-ve for one-time<br>Multiples of 30 for monthly">
		<a href= <%= recurs_path+"?order_by=days" %>><span class="glyphicon glyphicon-arrow-up"></span></a>
	</div>
	<div class="col-sm-2">
		<%= label_tag :starting_date %>
		<a href= <%= recurs_path %>><span class="glyphicon glyphicon-arrow-up"></span></a>
	</div>
	<div class="col-sm-2">
		<%= label_tag :Account %>
		<a href= <%= recurs_path+"?order_by=source" %>><span class="glyphicon glyphicon-arrow-up"></span></a>
	</div>
	<div class="col-sm-1">
		<%= label_tag :Active %>
		<a href= <%= recurs_path+"?order_by=active" %>><span class="glyphicon glyphicon-arrow-up"></span></a>
	</div>
</div>
<% @recurs.each do |recur| %>
	<% @recur = recur %>
	<% @destroy_btn = true %>
	<%= render 'form' %>
<% end %>
<br>
<%= javascript_tag do %>
	$('form').on('ajax:success',function(event,data, status, xhr) {
		console.log(xhr.responseJSON.message);	
		$("#alert-area").append($("<div class='alert-message success " + " fade in' data-alert><p> <strong> " + xhr.responseJSON.message + " </strong> </p></div>"));
        $(".alert-message").delay(2000).fadeOut("slow", function () { $(this).remove(); });
	});
<% end %>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({html: true, animation:true }); 
});
</script>