<%# javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi","https://code.highcharts.com/highcharts.js", "chartkick" %>
<h2> I see in your future.... </h2>
<br>
<h3> Balance in <%= @source.capitalize %> </h3>
<br>
<%= line_chart @balance_graph, {date:true, ytitle: "Balance",
								library:{ tooltip: {pointFormat: 'Balance: <b>{point.y}</b>'}, chart: {zoomType: 'xy'},plotOptions: {line:  {dataLabels: {enabled: true}}}
								}} %>
<br>
<h3> Recurring Events </h3>
<br>
<%= line_chart @event_graph, { date:true, adapter: "google", ytitle: "Change", library:{ legend: {
                align: 'left',
                y: 20,
                floating: true,
                borderWidth: 0},
				chart: {zoomType: 'xy'}
				} } %>
<br>
<br>

<br>
<h3> Recurring Events Table </h3>
<br>
<table class="table">
  <thead>
    <tr>
	  <th>Date</th>
      <th>Name</th>
	  <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_data.sort.each do |datapoint| %>
		<tr>
		<td><%= datapoint[0].to_date.strftime("%b %-d %Y") %></td>
		<td><%= datapoint[1] %></td>
		<td><%= datapoint[2] %></td>
		</tr>
    <% end %>
  </tbody>
</table>
<br>
<p>Total Income: <%= @total_income %> </p>
<p>Total Expenses: <%= @total_expenses %> </p>
