<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recur.name %>
</p>

<p>
  <strong>Days:</strong>
  <%= @recur.days %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @recur.start_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @recur.amount %>
</p>

<%= link_to 'Edit', edit_recur_path(@recur) %> |
<%= link_to 'Back', recurs_path %>
