<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="/users/sign_in" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="/users/sign_up" class="active" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">								
								<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal', id: "register-form"}) do |f| %>
									<div class="form-group">
										<input type="text" name="user[email]" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
									</div>
									<div class="form-group">
										<input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="user[password_confirmation]" id="password_confirmation" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								<% end %>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>