<div class="container">
	<%= form_for @statement, :html => { :multipart => true, class: 'form-horizontal', id: "new-statement-form"} do |f| %>	
		<% if @statement.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>
			  <ul>
				  <% @statement.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				  <% end %>
			  </ul>
			</div>
		<% end %>		
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				<input type="text" name="statement[name]" id="statement_name" tabindex="1" class="form-control" placeholder="Statement Name" value="">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				<%= file_field_tag 'file', accept: '.csv', class: "form-control btn btn-default" %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="submit" name="commit" id="statement_submit" tabindex="4" class="form-control btn btn-primary" value="Submit Statement">
				</div>
			</div>
		</div>
	<% end %>
</div>
