<h2>Listing Statements</h2>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-sm-8" text-align="right">Name</th>
	  <th class="col-sm-2" text-align="center"></th>
	  <th class="col-sm-2" text-align="center"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr class="row">
		<td class="col-sm-8"><%= statement.name %></td>
		<td class="col-sm-2"><%= link_to 'Edit Name', edit_statement_path(statement), class: "form-control btn btn-primary" %></td>
		<td class="col-sm-2"><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?'}, class: "form-control btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

