<%= form_for(@daily_log) do |f| %>
  <% if @daily_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_log.errors.count, "error") %> prohibited this daily_log from being saved:</h2>

      <ul>
      <% @daily_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
	<% Time.use_zone("Eastern Time (US & Canada)") do %>
	  	  <%= date_field(:daily_log, :date, :value=>@daily_log.date) %>
	<% end %>
	<br>
	<br>
	<%= f.label "Done By" %><br>
	<%= select_tag "daily_log[member_id]", options_from_collection_for_select(current_user.family.members.order(:id), "id", "member_name", selected: @daily_log.member_id) %>
	<br>
	<br>
	<%= f.label "Chore" %><br>
	<%= select_tag "daily_log[chore_id]", options_from_collection_for_select(@chores, "id", "name", selected: @daily_log.chore_id) %>
	<br>
	<br>
	<%= f.label "Comments" %><br>
	<%= text_field_tag "daily_log[comment]", @daily_log.comment %>
	<br>
	<br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
