<h2>It's a Full House!</h2>
<% @cleaning_activity.each_pair do |member_name, logs| %>
	<h3> <%= member_name %> </h3><br>
	<%= line_chart logs, {date:true, discrete:true, min:0, max:10, ytitle: "Chores",
								library:{ tooltip: {pointFormat: 'Chores: <b>{point.y}</b>'}, chart: {zoomType: 'xy'}}} %>
<% end %>