<script>
	function who_did_last() {
		chore_id = parseInt($("select#who_did_last_chore_id")[0].value)
		$.ajax({
		  url: "/daily_logs/who_did_last",
		  dataType: "JSON",
		  type: "POST",
		  data: {chore_id: chore_id, from: '<%= params[:report][:from] %>', to: '<%= params[:report][:to] %>'},
		  success: function(json) { 
			  // append data to your page
			  $("#who_did_last").html(json.data);
		  }
		});
	}
	
	function they_did_last() {
		chore_id = parseInt($("select#they_did_last_chore_id")[0].value)
		member_id = parseInt($("select#they_did_last_member_id")[0].value)
		$.ajax({
		  url: "/daily_logs/they_did_last",
		  dataType: "JSON",
		  type: "POST",
		  data: {chore_id: chore_id, member_id: member_id, from: '<%= params[:report][:from] %>', to: '<%= params[:report][:to] %>'},
		  success: function(json) { 
			  // append data to your page
			  $("#they_did_last").html(json.data);
		  }
		});
	}
	
</script>

<h2>I know what you did last summer...</h2>
<br>
<br>

<table class="table">
  <thead>
	<tr>
	  <th></th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
	  <tr>
		<td>Who did <%= select_tag "who_did_last[chore_id]", options_from_collection_for_select(@chores, "id", "name"), onchange: "who_did_last()" %> last?</td> 
		<td><div id="who_did_last"> </div></td> 
	  </tr>
  	  <tr>
		<td>When did <%= select_tag "they_did_last[member_id]", options_from_collection_for_select(current_user.family.members.order(:id), "id", "member_name"),onchange: "they_did_last()" %>
     		last do <%= select_tag "they_did_last[chore_id]", options_from_collection_for_select(@chores, "id", "name"), onchange: "they_did_last()" %> ?
		</td> 
		<td><div id="they_did_last"> </div></td> 
	  </tr>

  </tbody>
</table>