<h2>Who's Cooking?</h2>
<% @cooking_activity.each_pair do |member_name, logs| %>
	<h3> <%= member_name %> </h3><br>
	<%= line_chart logs, {date:true, discrete:true, min:0, max:10, ytitle: "Times Cooked",
								library:{ tooltip: {pointFormat: 'Cooked: <b>{point.y}</b>'}, chart: {zoomType: 'xy'}}} %>
<% end %>