<table class="table">
  <thead>
	<tr>
	  <th>Date</th>
	  <th>Done by</th>
	  <th>Chore</th>
	  <th>Comment</th>
	</tr>
  </thead>

  <tbody>
	<% @daily_logs.each do |daily_log| %>
	  <tr>
		<td><%= daily_log.date %></td> 
		<td><%= daily_log.member.member_name %></td> 
		<td><%= daily_log.chore.name %></td> 
		<td><%= daily_log.comment %></td> 
	  </tr>
	<% end %>
  </tbody>
</table>