<h2>Having fun eh?</h2>
<% @entertainment_activity.each_pair do |member_name, logs| %>
	<h3> <%= member_name %> </h3><br>
	<%= line_chart logs,{date:true, discrete:true, min:0, max:10, ytitle: "Activities",
								library:{ tooltip: {pointFormat: 'Activities: <b>{point.y}</b>'}, chart: {zoomType: 'xy'}}}%>
<% end %>