<div class="col-md-6 col-md-offset-3">
	<div class="container">
    	<div class="row">
			<div class="col-md-6" >		
				<%= form_tag("/daily_logs/import", {:multipart => true}) do %>
					<div class="form-group">
						<%= file_field_tag 'file', accept: '.csv', class: "form-control btn btn-default" %>
					</div>
					<br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-2 col-sm-offset-5">
								<input type="submit" name="commit" id="chore_submit" tabindex="4" class="form-control btn btn-primary" value="Submit Chores">
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>