<h1>Chore Logs</h1>
<br>
<%= link_to 'New Chore log', daily_logs_new_logs_path %>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
	  <th>Done by</th>
	  <th>Chore</th>
	  <th>Comment</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_logs.each do |daily_log| %>
      <tr>
        <td><%= daily_log.date %></td> 
		<td><%= daily_log.member.member_name %></td> 
		<td><%= daily_log.chore.name %></td> 
		<td><%= daily_log.comment %></td> 
        <td><%= link_to 'Edit', edit_daily_log_path(daily_log), class:"form-control btn btn-warning"   %></td>
        <td><%= link_to 'Destroy', daily_log, method: :delete, data: { confirm: 'Are you sure?' }, class:"form-control btn btn-warning"   %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>


