<script>

function cleanParams() {
    var form = document.forms["chore_logs"];
	comments = $(':input[type="text"]')
	comments.attr('disabled', true);
	for (var i=1; i<=comments.length; i++){
		var scope_check = 'input#chore_'+i.toString()
		var scope_comment = 'input#chore_comment_'+i.toString();
		$(scope_check)[0].value = $(scope_comment)[0].value;
	}
	form.submit();
}
function toggleCheckBox(id){
	var scope_comment = "input#chore_comment_"+id.toString();
	var scope_check = "input#chore_"+id.toString();
	if ($(scope_check)[0].checked == true){
		$(scope_comment).show();
	} else {
		$(scope_comment).hide();
	}
}
</script>

<%= form_tag("/daily_logs/create_logs", {:id=>"chore_logs", :onsubmit=> "cleanParams()"}) do %>

	<div class="field">
		<%= label_tag :date %><br>
		<% Time.use_zone("Eastern Time (US & Canada)") do %>
			<%= date_field(:daily_log, :date, :value=>Date.today.to_time(:local).strftime("%Y-%m-%d")) %>
		<% end %>
		<br>
		<br>
		<%= label_tag "Done By" %><br>
		<%= select_tag "daily_log[member_id]", options_from_collection_for_select(current_user.family.members.order(:id), "id", "member_name") %>
		<br>
		<br>
		<%= label_tag "Chore" %><br>
		<div class="row">
			<% @chores.each do |chore| %>
				<div class="col-xs-8 col-sm-4">
				<%= check_box_tag "chore[#{chore.id}]", chore.id, false, {:onclick=>"toggleCheckBox(#{chore.id})"} %>
				<%= label_tag chore.name %> 
				<%= text_field_tag "chore_comment[#{chore.id}]", "", {hidden: true} %>				 
				 </div>
			<% end %>
		</div>
		<br>
		<br>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-5">
				<input type="submit" name="commit" id="chore_submit" tabindex="4" class="form-control btn btn-primary" value="Submit Chores">
			</div>
		</div>
	</div>
<% end %>