<%# javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://code.highcharts.com/highcharts.js", "chartkick" %>
<h1>Chores Trends</h1>
<p>Showing trends for Chores from <%= params[:report][:from] %> to <%= @date %>.</p>
<div class="container-fluid">
    <div class="row-fluid">
		<ul class="nav nav-tabs" id="trends">
			<li class="active"> <a href="#frequency" data-target="#frequency" data-toggle="tab">Activity Graph</a></li>
			<li><a href="#cooking" data-target="#cooking" data-toggle="tab">Cooking Trends</a></li>
			<li><a href="#cleaning" data-target="#cleaning" data-toggle="tab">Housework Trends</a></li>
			<li><a href="#entertainment" data-target="#entertainment" data-toggle="tab">Entertainment Trends</a></li>
			<li><a href="#workload" data-target="#workload" data-toggle="tab">Workload Trends</a></li>
			<li><a href="#last_done" data-target="#last_done" data-toggle="tab">Last Done</a></li>
			<!--<li><a href="#logs" data-target="#logs" data-toggle="tab">Chore Log</a></li>-->
		</ul>
		<div class="tab-content">
			<script>
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					var ev = document.createEvent('Event');
					ev.initEvent('resize', true, true);
					window.dispatchEvent(ev);
				});
			</script>			
			<div class="tab-pane active fade in" id="frequency">
				<h2>Frequency of Chores </h2>
				<% @general_activity.each_pair do |member_name, logs| %>
					<h3> <%= member_name %> </h3><br>
					<%= line_chart logs, {date:true, discrete:true, min:0, max:10, ytitle: "Chores",
								library:{ tooltip: {pointFormat: 'Chores: <b>{point.y}</b>'}, chart: {zoomType: 'xy'}}} %>
				<% end %>
			</div>
			<div class="tab-pane fade in" id="cooking">
				<%= render 'statement_cooking' %>
			</div>
			<div class="tab-pane fade in" id="cleaning">
				<%= render 'statement_cleaning' %>
			</div>
			<div class="tab-pane fade in" id="entertainment">
				<%= render 'statement_entertainment' %>
			</div>
			<div class="tab-pane fade in" id="last_done">
				<%= render 'statement_last_done' %>
			</div>							
			<div class="tab-pane fade in" id="workload">
				<%= render 'statement_workload' %>
			</div>	
			<!--<div class="tab-pane fade in" id="logs">
				<%# render 'statement_logs' %>
			</div>-->	
		</div>
    </div>
</div>

