<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="/users/sign_in" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="/users/sign_up" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal', id: "login-form"}) do |f| %>
								<div class="form-group">
									<input type="text" name="user[email]" id="user_email" tabindex="1" class="form-control" placeholder="Email" value="" autofocus="autofocus">
								</div>
								<div class="form-group">
									<input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
								</div>
								<% if devise_mapping.rememberable? -%>
								<div class="form-group text-center">
									<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
									<label for="remember"> Remember Me</label>
								</div>
								<% end -%>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
										</div>
									</div>
								</div>

								<div class="form-group text-center">
										<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
										  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
										<% end -%>
								</div>
								<% end %>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>