<script>

function cleanParams() {
    var form = document.forms["update_transactions"];
	comments = $(':input[type="text"]')
	for (var i=0; i<comments.length; i++){
		if (comments[i].value == ""){
			comments[i].disabled = true;
		}
	}
	form.submit();
}
</script>
<h3>Listing uncategorized transactions</h3>
<%= form_tag("/transactions/update_bulk", {:id=>"update_transactions", :onsubmit=> "cleanParams()"}) do %>  
	<table class="table">
		<thead>
		<tr>
		  <th text-align="center">Merchant</th>
		  <th text-align="center">Category</th>
		  <th text-align="center"></th>
		  <th text-align="center"></th>
		</tr>
		</thead>
		<tbody>
			<div class="field" style="padding-top: 10px">
				<% @transactions.each do |transaction| %>
				  <tr>	  
					  <% if transaction.errors.any? %>
						<div id="error_explanation">
						  <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

						  <ul>
						  <% transaction.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						  <% end %>
						  </ul>
						</div>
					  <% end %>
					  <td><%= strip_merchant(transaction.merchant) %></td>
					  <td>
						<%= text_field_tag "transaction[#{transaction.id}]",nil, {class: "form-control", list: "categorylist"} %>	
						<datalist id='categorylist'>
							<% @categories.each do |category| %>
								<%= content_tag(:option, category) %>
							<% end %>
						</datalist>
					  </td>
					  <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }, class:"form-control btn btn-warning"  %></td>
				  </tr>
				<% end %>
			</div>
		</tbody>
	</table>
	<div class="row">
		<div class="form-group col-md-4"></div>
		<div class="form-group col-md-4">
			<input type="submit" name="commit" id="transaction_submit" class="form-control btn btn-primary" value="Update">
		</div>
		<div class="form-group col-md-4"></div>
	</div>
<% end %>		
<br>

