<h2>Listing Rules</h2>

<table class="table">
  <thead>
    <tr>
      <th text-align="center">Merchant</th>
      <th text-align="center">Category</th>
	  <th text-align="center"></th>
	  <th text-align="center"></th>
    </tr>
  </thead>

  <tbody>
	<% @rules.each do |rule| %>
		<tr>
			<%= form_for(rule) do |f| %>
				<% if rule.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>
						<ul>
							<% rule.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<td><div class="form-group" style="padding-top: 10px"><%= rule.merchant %></div></td>
				<td>
				<div class="form-group">
					<%= f.text_field :category, {class: "form-control"} %>
				</div>								
				</td>
				<td>
				<div class="actions">
					<%= f.submit "Update", {class:"form-control btn btn-primary"}  %>
				</div>
				</td>
				<td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' }, class:"form-control btn btn-warning"  %></td>
			<% end %>	  
		</tr>
	<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
