<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @rule.merchant %>
</p>

<p>
  <strong>Category:</strong>
  <%= @rule.category %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
